:root {
  --bg-grey: #999;
  --bg-transparent: rgba(0, 0, 0, 0);

  --text-grey-100: #999;
  --text-grey-200: #666;
  --txt-white: #eee;
  --text-dark: #333;
  --text-clr: #ccc;

  --bg-header: #141414;
  --bg-header--text: #dedede;
  --bg-nav-links: #222;
  --text-nav-links: #333;
  --bg-main: rgba(black, 0.8);
  --bg-button: #f9dce3;
  --text-button: #333;

  --dark-variant: #333;

  --bg-menu: crimson;
  --bg-icon: crimson;
  --text-price: #ef4567;
  --text-variant: #ef4567;

  --bg-section: red;
  --bg-footer: #111111cd;
}