@font-face {
  font-family: 'Lobster';
  src: url('/LobsterTwo-Regular.ttf');
}

@font-face {
  font-family: 'Pop';
  src: url('/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat';
  src: url('/Montserrat-ExtraBold.ttf');
}

// Font-Family
$ff-family: "Pop", sans-serif;
$ff-header: "Montserrat", sans-serif;
$ff-stylish: "Lobster", cursive;
$ff-subheading: $ff-family;
$ff-body: $ff-family;

// Font-Weight
$fw-regular: 300;
$fw-semi-bold: 600;
$fw-bold: 800;

// Font-Size
$fs-100: 0.72rem;
$fs-200: 0.8125rem;
$fs-250: 0.85rem;
$fs-300: 0.9rem;
$fs-350: 1rem;
$fs-400: 1.3rem;
$fs-500: 1.8rem;
$fs-600: 2rem;
$fs-700: 3rem;

$fs-small-text: $fs-200;
$fs-nav-links: $fs-200;
$fs-button: $fs-350;
$fs-body: $fs-300;
$fs-primary-header: $fs-600;
$fs-secondary-header: $fs-500;
$fs-sub-heading: $fs-350;


// Fonts Utility Classes
.fs-small {
  font-size: $fs-250;
}

.fw-semi-bold {
  font-weight: $fw-semi-bold;
}

.fw-bold {
  font-weight: $fw-bold;
}