@use "../abstracts/" as *;

.search-container,
.shop {
   display: flow-root;
   margin-block: $pad-400;

   h2 {
      text-align: center;
      text-transform: uppercase;

      span {
         font-style: italic;
         color: var(--text-variant);
      }
   }

   .slider {
      width: 100%;
      margin: $pad-400 auto;
      overflow: hidden;

      .slider-track {
         display: grid;
         grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
         grid-auto-rows: minmax(200px, auto);
         gap: $pad-300;

         .game-card {
            grid-template-rows: minmax(160px, max-content) auto;
         }
      }
   }
}